body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #110745; 
  z-index: -1;
}

#calendar-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 20px; 
  background-color: rgba(20, 33, 61, 0.8); 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 90%; 
  max-width: 1200px;
  margin: 20px auto; 
}

.header-container {
  text-align: center;
  margin: 0 auto 30px auto;
  width: 90%;
  max-width: 1200px;
  height: 300px;
  background-color: #2C2EEB;
  border-radius: 10px;
  overflow: hidden; /* Taglia eventuali elementi che escono */
  position: relative;
}

.header-text h1 {
  font-size: 3rem;
  font-family: 'Livvic', sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

.header-text h2 {
  font-size: 2rem;
  font-family: 'Livvic', sans-serif;
  font-weight: 400;
  color: white;
  margin-bottom: 15px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header-image {
  background: url('/images/header-bg.png') no-repeat center center;
  background-size: contain;
  min-height: 100%;
  border-radius: 100%;
  display: block;
}

.day-box {
  background-color: #2D6854; 
  color: rgba(255, 255, 255, 1); 
  border: none;
  border-radius: 15px;
  font-size: 1.5rem; 
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px; 
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease, color 0.3s;
}

.day-box.open {
  background-color: transparent; 
  color: rgba(255, 255, 255, 0.3); 
  pointer-events: none;
  text-decoration: none; 
}

.day-box.open .day-icon img {
  opacity: 0.3; 
}

.day-icon img {
  width: 40px;
  margin-bottom: 5px;
  opacity: 1; 
}

.day-box.day-25 {
  grid-column: span 8;
  height: 200px; 
  font-size: 2.5rem; 
  background-color: #D4D6F5;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.day-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8c9d4; 
  color: #000;
  padding: 20px;
  border-radius: 15px;
  z-index: 20;
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 80vh;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  display: none;
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

.modal p {
  font-size: 1rem;
  margin: 10px 0;
  color: #000;
  line-height: 1.5;
  word-wrap: break-word;
}

#close-content-modal {
  display: inline-block;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

#close-content-modal:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 10;
  display: none; 
}
